body {
  background-image: url("../img/brick.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 64px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px #565656;
  letter-spacing: 2px;
  font-weight: bold;
}
h2 {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px #565656;
  letter-spacing: 2px;
  font-weight: bold;
}
img {
  display: block;
  margin: auto;
}
.scores {
  color: #FFFFFF;
  text-align: center;
  font-size: 34px;
}
.instructions {
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  list-style-type: none;
}
.well {
  height: 250px;
  background-color: #000000;
  opacity: 0.8;
}
.well-sm {
  min-height: 150px;
  height: auto;
  background-color: #000000;
  opacity: 0.8;
}
#rollForm {
  text-align: center;
}
#roundTotal, #player1Score, #player2Score {
  list-style-type: none;
}
#rollButton {
  width: 120px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
}
#holdButton {
  width: 120px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
}
